<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
        <add name="default" connectionString="Provider=SQLOLEDB.1;Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=Hitwicket;Data Source=SANDEEPETI\SQLEXPRESS" />
    <add name="HitwicketEntities" connectionString="metadata=res://*/Models.Hitwicket.csdl|res://*/Models.Hitwicket.ssdl|res://*/Models.Hitwicket.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SANDEEPETI\SQLEXPRESS;initial catalog=Hitwicket;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>